{% include 'head.html' %}

{% block content %}

              {% include 'partials/messages.html' %}

              <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-7 col-lg-5 col-xl-5">
                    <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h3>Sign Up</h3>
                        </div>
                  <form class="row g-3 needs-validation" method="POST" novalidate>

                        {% csrf_token %}

                    {% comment %} {{ form.as_p }} {% endcomment %}
                    {% for field in form %}
                    <div class="col-12">
                        {{ field.label }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                        <button type="submit" class="btn btn-primary py-3 w-100 mb-2">Sign Up</button>
                      <a class="btn btn-secondary py-3 w-100 mb-2"  href="{% url 'core:index' %}">Go Back</a>
                      <p class="text-center mb-0">Already have an Account? <a href="{% url 'login' %}?next={% url 'core:index' %}">Sign In</a></p>
                    </div>
                  </form>
                </div>
            </div>
          
{% endblock %}

{% include 'footer.html' %}