
{% include 'configfiles/partials/upload_file_button.html' %}
<hr>
<table class="table ">
    <thead>
        <tr>
            
            <th style="border-style: none !important;" class = 'align-middle' scope="col">File Name</th>
            <th style="border-style: none !important;" class = 'align-middle' scope="col">Environment</th>
            <th style="border-style: none !important;" class = 'align-middle' scope="col">Location</th>
            
        </tr>
    </thead>
    <tbody>
        {% for file in files %}
        {% include 'configfiles/partials/file_item.html' with location_id=location.id file_id=file.id %}
        {% endfor %}
    </tbody>
</table>