{% extends "navbar.html" %}
{% load static %}
{% block content %}
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4" id="location-main">
                <h6 class="mb-4">Projects</h6>
                {% include 'partials\add_action_buttons.html'  %}
                <div id="project-list" class="table-responsive" hx-trigger="load, projectListChanged from:body" hx-get="{% url 'configfiles:get_projects' %}" hx-target="this" >
                    {% include 'configfiles/partials/list.html' with items=projects %}
                </div>
            </div>
        </div>

{% endblock %}

