{% load static i18n %}
{% load django_htmx %}

{% include 'head.html' %}

<body class="bg-light {% if user.is_authenticated == False %}open{% endif %}">
<div class="container-xxl position-relative bg-light d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-light position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
 
  {% if user.is_authenticated %}
    {% include 'sidebar.html' %}
  {% endif %}

  <div class="content bg-light {% if user.is_authenticated == False %}open{% endif %}">
  {% block navbar %}{% endblock %}
      
    {% comment %} <section class="section"> {% endcomment %}
     {% include 'partials/messages.html' %}
              
      {% block content %}{% endblock %}
    {% comment %} </section> {% endcomment %}
  </div>

</div>       
        <!-- ======= Footer ======= -->
  {% include 'footer.html' %}
 

